<!DOCTYPE html>
<html>
  <head>
    <title>TestDrivenRspecApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <nav>
      <%= link_to('Consoles', consoles_path) %>
    </nav>
    <%= yield %>
  </body>
</html>
